<nav>
<div class="nav-wrapper">
  <a href="#" class="brand-logo">Ya Done Got Git</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><%= link_to "Logout", logout_path, method: :delete %></li>
  </ul>
</div>
</nav>
