---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/danjwinter/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 557b2b5f768d7e09b42063635bc4bd1929d4c2f5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1455853285'
      Etag:
      - W/"92de190abf6228c678ec2ef5f5c8e447"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 9e9904668cdc2cdc7c15
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":50874809,"name":"the_pivot","full_name":"jwperry/the_pivot","owner":{"login":"jwperry","id":13172425,"avatar_url":"https://avatars.githubusercontent.com/u/13172425?v=3","gravatar_id":"","url":"https://api.github.com/users/jwperry","html_url":"https://github.com/jwperry","followers_url":"https://api.github.com/users/jwperry/followers","following_url":"https://api.github.com/users/jwperry/following{/other_user}","gists_url":"https://api.github.com/users/jwperry/gists{/gist_id}","starred_url":"https://api.github.com/users/jwperry/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jwperry/subscriptions","organizations_url":"https://api.github.com/users/jwperry/orgs","repos_url":"https://api.github.com/users/jwperry/repos","events_url":"https://api.github.com/users/jwperry/events{/privacy}","received_events_url":"https://api.github.com/users/jwperry/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/jwperry/the_pivot","description":"Pivoting
        Little Shop Project (\"Rough Sketch\")","fork":false,"url":"https://api.github.com/repos/jwperry/the_pivot","forks_url":"https://api.github.com/repos/jwperry/the_pivot/forks","keys_url":"https://api.github.com/repos/jwperry/the_pivot/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jwperry/the_pivot/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jwperry/the_pivot/teams","hooks_url":"https://api.github.com/repos/jwperry/the_pivot/hooks","issue_events_url":"https://api.github.com/repos/jwperry/the_pivot/issues/events{/number}","events_url":"https://api.github.com/repos/jwperry/the_pivot/events","assignees_url":"https://api.github.com/repos/jwperry/the_pivot/assignees{/user}","branches_url":"https://api.github.com/repos/jwperry/the_pivot/branches{/branch}","tags_url":"https://api.github.com/repos/jwperry/the_pivot/tags","blobs_url":"https://api.github.com/repos/jwperry/the_pivot/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jwperry/the_pivot/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jwperry/the_pivot/git/refs{/sha}","trees_url":"https://api.github.com/repos/jwperry/the_pivot/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jwperry/the_pivot/statuses/{sha}","languages_url":"https://api.github.com/repos/jwperry/the_pivot/languages","stargazers_url":"https://api.github.com/repos/jwperry/the_pivot/stargazers","contributors_url":"https://api.github.com/repos/jwperry/the_pivot/contributors","subscribers_url":"https://api.github.com/repos/jwperry/the_pivot/subscribers","subscription_url":"https://api.github.com/repos/jwperry/the_pivot/subscription","commits_url":"https://api.github.com/repos/jwperry/the_pivot/commits{/sha}","git_commits_url":"https://api.github.com/repos/jwperry/the_pivot/git/commits{/sha}","comments_url":"https://api.github.com/repos/jwperry/the_pivot/comments{/number}","issue_comment_url":"https://api.github.com/repos/jwperry/the_pivot/issues/comments{/number}","contents_url":"https://api.github.com/repos/jwperry/the_pivot/contents/{+path}","compare_url":"https://api.github.com/repos/jwperry/the_pivot/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jwperry/the_pivot/merges","archive_url":"https://api.github.com/repos/jwperry/the_pivot/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jwperry/the_pivot/downloads","issues_url":"https://api.github.com/repos/jwperry/the_pivot/issues{/number}","pulls_url":"https://api.github.com/repos/jwperry/the_pivot/pulls{/number}","milestones_url":"https://api.github.com/repos/jwperry/the_pivot/milestones{/number}","notifications_url":"https://api.github.com/repos/jwperry/the_pivot/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jwperry/the_pivot/labels{/name}","releases_url":"https://api.github.com/repos/jwperry/the_pivot/releases{/id}","deployments_url":"https://api.github.com/repos/jwperry/the_pivot/deployments","created_at":"2016-02-01T22:05:52Z","updated_at":"2016-02-17T21:24:10Z","pushed_at":"2016-02-11T19:10:49Z","git_url":"git://github.com/jwperry/the_pivot.git","ssh_url":"git@github.com:jwperry/the_pivot.git","clone_url":"https://github.com/jwperry/the_pivot.git","svn_url":"https://github.com/jwperry/the_pivot","homepage":null,"size":6807,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":3,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}}]'
  recorded_at: Fri, 19 Feb 2016 02:41:25 GMT
- request:
    method: get
    uri: https://api.github.com/users/danjwinter/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 557b2b5f768d7e09b42063635bc4bd1929d4c2f5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
    [...]
- request:
    method: get
    uri: https://api.github.com/users/danjwinter/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 557b2b5f768d7e09b42063635bc4bd1929d4c2f5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
    [...]
- request:
    method: get
    uri: https://api.github.com/users/danjwinter/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 557b2b5f768d7e09b42063635bc4bd1929d4c2f5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1455853285'
      Etag:
      - W/"2609bb5df7f65e92f6ba266fee3886f1"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 9e9904668cdc2cdc7c15
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"TuringTestOrganization","id":17304060,"url":"https://api.github.com/orgs/TuringTestOrganization","repos_url":"https://api.github.com/orgs/TuringTestOrganization/repos","events_url":"https://api.github.com/orgs/TuringTestOrganization/events","hooks_url":"https://api.github.com/orgs/TuringTestOrganization/hooks","issues_url":"https://api.github.com/orgs/TuringTestOrganization/issues","members_url":"https://api.github.com/orgs/TuringTestOrganization/members{/member}","public_members_url":"https://api.github.com/orgs/TuringTestOrganization/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/17304060?v=3","description":"For
        testing organizations!"}]'
  recorded_at: Fri, 19 Feb 2016 02:41:26 GMT
- request:
    method: get
    uri: https://api.github.com/users/danjwinter/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 557b2b5f768d7e09b42063635bc4bd1929d4c2f5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1455853285'
      Last-Modified:
      - Thu, 18 Feb 2016 13:11:51 GMT
      Etag:
      - W/"7d3243b6576950112123d309534158b0"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 9e9904668cdc2cdc7c15
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/13614117/events?page=2>; rel="next", <https://api.github.com/user/13614117/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3661908706","type":"PushEvent","actor":{"id":13614117,"login":"danjwinter","gravatar_id":"","url":"https://api.github.com/users/danjwinter","avatar_url":"https://avatars.githubusercontent.com/u/13614117?"},"repo":{"id":51868417,"name":"danjwinter/apicurious","url":"https://api.github.com/repos/danjwinter/apicurious"},"payload":{"push_id":983747472,"size":1,"distinct_size":1,"ref":"refs/heads/github_service","head":"22134f3faf21cb1bc27971a417f07c82f21ab852","before":"258b86c3fea3a3c4f3cf5288767ef517c130d2af","commits":[{"sha":"22134f3faf21cb1bc27971a417f07c82f21ab852","author":{"email":"dan.j.winter@gmail.com","name":"Dan
        Winter"},"message":"add rails 12 factor","distinct":true,"url":"https://api.github.com/repos/danjwinter/apicurious/commits/22134f3faf21cb1bc27971a417f07c82f21ab852"}]},"public":true,"created_at":"2016-02-18T21:11:51Z"},{"id":"3661902157","type":"PushEvent","actor":{"id":13614117,"login":"danjwinter","gravatar_id":"","url":"https://api.github.com/users/danjwinter","avatar_url":"https://avatars.githubusercontent.com/u/13614117?"},"repo":{"id":51868417,"name":"danjwinter/apicurious","url":"https://api.github.com/repos/danjwinter/apicurious"},"payload":{"push_id":983745213,"size":4,"distinct_size":4,"ref":"refs/heads/github_service","head":"258b86c3fea3a3c4f3cf5288767ef517[...]
- request:
    method: get
    uri: https://api.github.com/users/danjwinter/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 557b2b5f768d7e09b42063635bc4bd1929d4c2f5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - [...]
- request:
    method: get
    uri: https://github.com/danjwinter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 200 OK
      Public-Key-Pins:
      - max-age=300; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        includeSubDomains
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+CjxodG1sIGxhbmc9ImVuIiBjbGFzcz0iIj4KICA8
        aGVhZCBwcmVmaXg9Im9nOiBodHRwOi8vb2dwLm1lL25zIyBmYjogaHR0cDov
        L29ncC5tZS9ucy9mYiMgb2JqZWN0OiBodHRwOi8vb2dwLm1lL25zL29iamVj
        dCMgYXJ0aWNsZTogaHR0cDovL29ncC5tZS9ucy9hcnRpY2xlIyBwcm9ma[...]
[...]
