.user-image {
  max-width: 200px;
}

.user-name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 2px;
}

.user-nickname {
  font-size: 24px;
  font-weight: 100;
  margin-top: 1px;
  padding-bottom: 15px;
  border-bottom: .2px solid #C0C0C0;
}

.user-email {
  border-bottom: .2px solid #C0C0C0;
}

.dash-numbers {
  margin-top: 15px;
}

.small-bottom-margin {
  margin-bottom: 2px;
}

.left-margin {
  margin-left: 10px;
}
