.user-image {
  max-width: 200px;
  border-style: double;
}

.user-name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 2px;
}

.user-nickname {
  font-size: 24px;
  font-weight: 100;
  margin-top: 1px;
  padding-bottom: 15px;
  border-bottom: .2px solid #C0C0C0;
}

.user-email {
  border-bottom: .2px solid #C0C0C0;
  padding-bottom: 15px;
}

.dash-numbers {
  margin-top: 18px;
  border-style: groove;
}

.stats-numbers {
  margin-top: 10px;
}

.small-bottom-margin {
  margin-bottom: 2px;
}

.left-margin {
  margin-left: 10px;
}

.tabs {
  margin-bottom: 20px;
}

.card {
  height: 100px;
}

nav {
  margin-bottom: 20px;
}

.organization {
  border-style: dashed;
}

.brand-logo {
  margin-left: 15px;
}

.background-image {
  background: url("/assets/computer_image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.dash-background-image {
  background: url("/assets/programming_screen.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1.5;
}

.container {
  opacity: 1;
}

.tabs {
  border-style: outset;
  backgroun-color: grey;
  max-width: 600px;
}

a {
  color: #191970;
}

.page {
  background-color: white;
  opacity: .7;
  margin-left: 5px;
}

a.login-link {
  color: white;
  text-decoration: none;
  font-size: 6em;
  border-style: ridge;
}

.git-yo-self {
  padding-top: 300px;
}
